
  body {
  font-family: 'Ariall', sans-serif;
  background-image: url("nojima_logo.png");
  background-repeat: no-repeat;
  background-position: top left;   
  background-size: 500px auto;    
  background-color: #d4e2fc;          
  margin: 0;
  padding: 0;
  height: 100vh;                 
  }  
   
.container {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;            
}


.card {
      background: #ffffff;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);
      max-width: 500px;
      width: 90%;
      text-align: center;
      animation: fadeIn 0.5s ease-in-out;
    }

    #question {
      font-size: 1.4em;
      margin-bottom: 30px;
      color: #333;
      transition: opacity 0.3s ease;
    }

    .btn {
      font-size: 1.1em;
      padding: 12px 24px;
      margin: 10px;
      border: none;
      cursor: pointer;
      transition: transform 0.1s ease, background 0.3s ease;
    }

    .btn:active {
      transform: scale(0.95);
    }

    .btn-yes {
      background-color: #f67b79;
      color: white;
      }

    .btn-yes:hover {
      background-color: #f45652;
    }

    .btn-no {
      background-color: #9eb4fa;
      color: white;
     }

    .btn-no:hover {
      background-color:#7996f6;
    }

    .btn-start {
      background-color: #8aaef5;
      color: white;
    }
    
    .btn-start:hover{
     background-color:#5b8ef1;
    }

    .btn-restart {
      background-color: #9E9E9E;
      color: white;
    }

    .result {
      font-size: 1em;
      color: #444;
      text-align: left;
      line-height: 1.6em;
      animation: fadeIn 0.5s ease;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
